@using mvcStok.Models.Entity;
@model List<TBLURUNLER> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün ID</th>
        <th>Ürün Adı</th>
        <th>Markası</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.URUNID</td>
                <td>@item.URUNAD</td>
                <td>@item.MARKA</td>
                <td>@item.TBLKATEGORILER.KATEGORIAD</td>
                <td>@item.FIYAT</td>
                <td>@item.STOK</td>
                <td><a href="/URUN/SIL/@item.URUNID" class="btn btn-danger">Sil</a></td>
                <td><a href="/URUN/UrunGetir/@item.URUNID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/URUN/UrunEkle/" class="btn btn-primary">Yeni Ürün Ekle</a>
