@model mvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Urun", FormMethod.Post))
{
    <div class="form-group">

        @Html.LabelFor(a => a.URUNID)
        @Html.TextBoxFor(a => a.URUNID, new { @class = "form-control" })
        <br>
        @Html.LabelFor(a => a.URUNAD)
        @Html.TextBoxFor(a => a.URUNAD, new { @class = "form-control" })
        <br>
        @Html.LabelFor(a => a.MARKA)
        @Html.TextBoxFor(a => a.MARKA, new { @class = "form-control" })
        <br>
        @Html.LabelFor(a => a.URUNKATEGORI)
        @Html.DropDownListFor(a => a.TBLKATEGORILER.KATEGORIID, (List< SelectListItem >)ViewBag.dgr, new { @class = "form-control" })
        @*@Html.TextBoxFor(a => a.URUNKATEGORI, new { @class = "form-control" })*@
        <br>
        @Html.LabelFor(a => a.FIYAT)
        @Html.TextBoxFor(a => a.FIYAT, new { @class = "form-control" })
        <br>
        @Html.LabelFor(a => a.STOK)
        @Html.TextBoxFor(a => a.STOK, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Ürün Güncelle</button>
    </div>
}

